* {
  box-sizing: border-box;
  }

html {
    background-color: #48cae4;
  }

nav {
    background-color: #023e8a;
    list-style-type: none;
    overflow: hidden;
    padding: 5px;
    border-radius: 16px;
  }
  
  nav li {
    background-color: #0077b6;
    float: right;
    display: flex;
    text-align: center;
    width: 25%;
    border-radius: 20px;
    margin: 4px;
  }
  
  nav li a {
    color: white;
    padding: 15px;
    text-decoration: none;
    width: 1000%;
    border-radius: 20px;
  }
  
  nav li:hover {
    background-color: #03045e;
  }

  @media screen and (max-width: 555px) {
    nav li {
        float: none;
        width: 100%;
    }
  }

  nav li:nth-child(1) {
    float: left;
    width: 100px;
  }
  
  .active {
    background-color: #03045e;
  }
